<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/style/home.css">
</head>

<body>
    <div class="navbar">
        <h1>Welcome to Our Website</h1>
        <form action="/home" method="post">

            <button class="logout-button" type="submit">Log Out</button>
        </form>
    </div>
    <div class="user-greeting">
        <h2>Hello,
            <!-- enter usename here  -->
            <%=username %>
        </h2>
        <p>You are now logged in and can explore our website.</p>
    </div>
</body>

</html>